@import 'bootstrap';
@import 'ember-ted-docs/styles';

@import "ember-searchable-select/style";

.Options-table table {
 @extend .table;
 @extend .table-bordered;
}

.Example {
  border-bottom: solid 1px #dedede;
  padding-bottom: 2em;
  margin-bottom: 2em;

  .Searchable-select {
    margin-bottom: 20px;
  }
}
