{{#ember-markdown-section}}
### Two-way bound

Although data-down, actions-up is the recommended usage, you can force a two-way binding with [Ember's `mut` helper](http://emberjs.com/blog/2015/05/10/run-up-to-two-oh.html#toc_the-code-mut-code-helper). Instead of passing in an action name to `on-change`, pass in something like `(mut boundValue)`.
{{/ember-markdown-section}}
  <div class="row">
  <div class="col-md-6">
    {{code-snippet name="two-way.hbs"}}
  </div>
  <div class="col-md-6">

  {{!-- BEGIN-SNIPPET two-way --}}

  {{searchable-select
    content=TEDevents
    sortBy="title"
    selected=selectedOption
    on-change=(action (mut selectedOption))}}

  <p>Selected option (bound): {{selectedOption.title}}</p>
  {{!-- END-SNIPPET --}}

  <button {{action "clearFromOutside"}}>clear</button>

  </div>
</div>